<div class="profile">
  <p class="profile-title"><%= @company.title %></p>
    <p class="detail detail-description">公司介紹</p>
    <textarea class="detail detail-content detail-edit"><%= @company.profile %></textarea>
    <p class="detail detail-description">公司理念</p>
    <textarea class="detail detail-content detail-edit"><%= @company.philosophy %></textarea>
    <p class="detail detail-description">媒體報導</p>
    <textarea class="detail detail-content detail-edit"><%= @company.media_reports %></textarea>
    <p class="detail detail-description">薪資福利</p>
    <textarea class="detail detail-content detail-edit"><%= @company.salary_benefits %></textarea>
</div>
<div class="apply-block">
  <button class="button" onclick="location.href='/companies/<%= @company.id %>'">存擋</button>
</div>
