<div class="profile">
  <p class="title"><%= @job.title %></p>
    <p class="detail detail-description">工作內容</p>
    <p class="detail detail-content"><%= @job.content %></p>
    <p class="detail detail-description">條件要求</p>
    <p class="detail detail-content"><%= @job.condition_requirements %></p>
    <p class="detail detail-description">公司福利</p>
    <p class="detail detail-content"><%= @job.company_benefits %></p>
    <p class="detail detail-description">薪資範圍</p>
    <p class="detail detail-content"><%= @job.salary_range %></p>
</div>
<div class="apply-block">
  <button class="button">現在應徵</button>
</div>