<div class="profile">
  <p class="profile-title"><%= @company.title %></p>
    <p class="detail detail-description">公司介紹</p>
    <p class="detail detail-content"><%= @company.profile %></p>
    <p class="detail detail-description">公司理念</p>
    <p class="detail detail-content"><%= @company.philosophy %></p>
    <p class="detail detail-description">媒體報導</p>
    <p class="detail detail-content"><%= @company.media_reports %></p>
    <p class="detail detail-description">薪資福利</p>
    <p class="detail detail-content"><%= @company.salary_benefits %></p>
    <p class="detail detail-description">目前職缺</p>
    <div class="list">
      <% @company.jobs.each do |job| %>
        <div class="list-item" onclick="location.href='/jobs/<%= job.id %>'">
          <%= job.title %>
        </div>
      <% end %>
    </div>
</div>
